body {
  font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka;
  color: #4c4c4c;
}
h1 {
  font-size: x-large;
  color: #0000dd;
  padding: 5px;
  border-top: 2px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
  background-color: #eeeeee;
}
#box {
  background-color: #eeeeee;
  border: 1px solid #888888;
  padding: 12px;
}