#bannerbox {
  background-color: #dddddd;
  border: 1px solid #4c4c4c;
  width: 280px;
  height: 40px;
  padding: 10px;
}
#banner_left {
  float: left;
  width: 110px;
}
#banner_right {
  float: left;
  width: 160px;
}
#banner_bottom {
  clear: both;
}