body {
  font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka;
  color: #4c4c4c;
  font-size: 12px;
}
#frame {
  width: 500px;
  background-color: #efefef;
  border: 1px solid #4c4c4c;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
