/* フレーム */
.win_frame {
  display: none;
  position: absolute;
  width: 350px;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 0px 0px 0px 0px;
  -moz-opacity: 0.85;
  opacity: 0.85;
  filter:
    progid:DXImageTransform.Microsoft.shadow(color=#888888, direction=135, strength=3)
    progid:DXImageTransform.Microsoft.alpha(opacity=85);
}
/* タイトルバー */
.win_titlebar {
  background-color: #ffffff;
  color: #ffffff;
  margin: 0px;
  padding-top: 3px;
  padding-right: 12px;
  padding-left: 3px;
  padding-bottom: 0px;
  height: 20px;
  background-image: url(titlebar_bg.gif);
  background-repeat: repeat-x;
  cursor: move;
}
/* メッセージ領域 */
.win_msgarea {
  color: #000000;
  background-color: #eff2f9;
  margin: 0px;
  padding: 12px;
}
.win_msgarea .right{
  text-align: right;
}
/* 閉じるボタン */
.win_close {
  vertical-align: middle;
  cursor: pointer;
}
