body {
  font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka;
  font-family: Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  font-size: 12px;
}
h1 {
  font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h2 {
  font-family: メイリオ, "ＭＳ Ｐゴシック", Osaka;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
em {
  font-weight: bold;
}
img {
  border: 0px;
}
.indent {
  margin-left: 24px;
}
.bold {
  font-weight: bold;
}
